{% extends 'base.html.twig' %}

{% block title %}Nouveau Semestre{% endblock %}

{% block body %}
    <h1>Création d'un semestre</h1>

    {{ include('semestre/semestre_form.html.twig') }}

    <a href="{{ app.request.headers.get('referer') }}">Retour</a>

{% endblock %}