{% extends 'base.html.twig' %}

{% block title %}Liste des cours{% endblock %}

{% block body %}

    {#<a href="{{ path('cours_by_semestre') }}">Cours par semestres !</a>#}

    <h1 class="title is-2">Liste des cours</h1>

    <table class="table is-striped is-hoverable is-fullwidth">

        <thead>
            <tr>
                <th>Identifiant</th>
                <th>Nom</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            {% for current_cours in cours %}

                <tr>

                    <td>{{ current_cours.id }}</td>
                    <td>{{ current_cours.name }}</td>
                    <td><a href="{{ path('cours_details', {id: current_cours.id}) }}">Plus</a></td>

                </tr>

            {% endfor %}

        </tbody>

    </table>

{% endblock %}

{% block javascripts %}
    <script>
        let element = document.getElementById("navbar-button-cours-list");
        element.classList.add("is-active");
    </script>
{% endblock %}
